header {
    margin: 20px;
    width: 96vw;
    border-bottom: 4px solid white;
}

.top-header {
    font-size: 30px;
    font-style: oblique;
    font-family: cursive;
    font-weight: bolder;
    width: 200px;
    height: 36px;
}

.dark-light{
    position: absolute;
    right: 5px;
    top: 4px;
    background-color:#4a5f77 ;
}
.dark {
    background-color: midnightblue;
    height: 100vh;
    color: crimson;
}

.light {
    background-color: indianred;
    color: aliceblue;
    height: 100vh;
}
.searchbar {
    position: absolute;
    right: 36px;
    top: 4px;
    height: 26px;
    background-color: #4a5f77;
    color: white;
}

.searchbar:hover{
    cursor: pointer;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

a:link, a:visited {
    background-color: #4a5f77;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: skyblue;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9); 
  }
  
  .full-screen-search {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: rgb(250, 4, 4);
  }
  
  .overlay .closebtn:hover {
    color: green;
  }
  
  .overlay input[type=text] {
    padding: 14px;
    font-size: 20px;
    border: 2px solid darkblue;
    float: left;
    width: 80%;
    background: #4d6eda;
  }

  .overlay button {
    float: left;
    display: flex;
    width: 16%;
    padding: 14px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    justify-content: center;
    background: darkorange
  }
  
  .overlay button:hover {
    background: #bbb;
  }
  
  .search-text-color {
    color: rgb(74, 226, 253);
  }